@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
@font-face {
  font-family: 'Lobster';
  src: url('/path/to/lobster-font-file.ttf') format('truetype');
  /* Add other font formats if available (e.g., woff, woff2) */
}

.price {
  font-family: 'Lobster', cursive;
  display: flex;
  font-size: 28px;
  align-items: center;
  color: hsl(158, 36%, 37%);
}


